.water{
    background: aqua;
    z-index: 1;
    opacity: 70%;
}

/*body{*/
/*background-image: url('water.gif');*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*}*/
body{
    overflow-y: hidden
}

.selectionElement{
    left: 50%;
    width: 30%;
    height: 10%;
}
.menuDiv{
    position: absolute;
    top:25%;
    left:25%;
    width: 25%;
    height: 25%;
    background-color: yellow;
}
div{
    user-select: none;
}

.buttonElement{
    height: 10%;
    width: 10%;
}